doctype html
html
 head
  title
 body
 .container
 != messages('message', locals)
 if errors
    each error, i in errors
      div(class="alert alert-danger") #{error.msg}
 block content
    br
    hr
 footer
    p copyright capgemini
 